/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .payment-form {
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .payment-form input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-form button:hover {
    background-color: #0056b3;
  }
   */

/* Styles for the payment page */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.booking-details {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.booking-details p {
  /* margin: 5px 130px; */
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color:rgb(233, 225, 225);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 200px;
}

.btn:hover {
  background-color: rgba(167, 167, 192, 0.5); 
  color:teal;
  font-weight: bold;
}
